.playground {
  margin-top: 50px;
  height: 200px;
}

.playground__base {
  max-width: 450px;
  margin: 10px;
  height: 160px;
  border: 3px solid $main-text-color;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  * {
    margin: 15px;
  }

  *.linted {
    border: 5px solid $extra-color;
  }
}

%playground__elem {
  width: 120px;
  height: 120px;
  border: 3px solid $main-text-color;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; 
}

%popup {
  font-size: 1.2rem;
  background-color: $main-text-color;
  color: $main-bg-color;
  width: 65px;
  position: absolute;
  bottom: -15px;
  text-align: center;
}

.playground__bento {
 @extend %playground__elem; 
}

.playground__plate {
  @extend %playground__elem;

  border-radius: 50%;
}

.playground__apple {
  height: 50px;
  width: 50px;
  background-color: $extra-color;
  border-radius: 50%;
  position: relative;
}

.playground__bento.linted::before {
  @extend %popup;
  content: '<bento>';
}

.playground__plate.linted::before {
  @extend %popup;
  content: '<plate>';
}

.playground__apple.linted::before {
  @extend %popup;
  content: '<apple>';
  left: -6px;
  bottom: -20px;
}
