@import "./styles/header.css";
@import "./styles/start-content.css";
@import "./styles/about.css";
@import "./styles/pets.css";
@import "./styles/help.css";
@import "./styles/donation.css";
@import "./styles/footer.css";
* {
  margin: 0px;
  padding: 0px;
}
html {
  scroll-behavior: smooth;
}
button {
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.arrow:hover {
  background: #f1cdb3;
  color: white !important;
}

.arrow-back {
  border-color: #cdcdcd;
  color: #cdcdcd !important;
}
.arrow-main {
  background-color: #f1cdb3;
}
.start-screen {
  min-height: 908px;
  background: url(assets/images/noise_transparent@2x.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%)
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    #211f20;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about {
  min-height: 588px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pets {
  min-height: 877px;
  background-color: #f6f6f6;
}
.help {
  min-height: 611px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.donation {
  min-height: 462px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
}
.footer {
  min-height: 350px;

  background: url(assets/images/noise_transparent@2x.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%)
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    #211f20;
  display: flex;
  flex-direction: column;
  align-items: center;
}
