@font-face {
  font-family: "arial";
  src: url("./assets/fonts/arial.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "georgia";
  src: url("./assets/fonts/georgia.ttf");
  font-weight: normal;
}
a:link {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

a:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

.header {
  height: 60px;
  margin: 0px 40px;
  padding: 30px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
}

.navigation li {
  list-style-type: none;
  color: #cdcdcd;
  font-family: "arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
}

#selected-page {
  transform: translate(0px, 4px);
  color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 7px;
}

#selected-page span {
  display: inline-block;
  width: 100%;
  height: 3px;
  background: #f1cdb3;
}

.logo h1 {
  color: #f1cdb3;
  margin-bottom: 10px;
  font-family: "georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  /* or 35px */
  letter-spacing: 0.06em;
}

.logo p {
  color: #fff;
  font-family: "arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  /* identical to box height */
  letter-spacing: 0.1em;
  transform: translate(1px, -4px);
}

.logo {
  cursor: pointer;
  transform: translate(0px, -4px);
}

.burger-button {
  display: none;
  width: 30px;
  height: 22px;
}
.burger-button span {
  width: 30px;
  height: 0px;
  border: 2px solid #f1cdb3;
}

@font-face {
  font-family: "arial";
  src: url("./assets/fonts/arial.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "georgia";
  src: url("./assets/fonts/georgia.ttf");
  font-weight: normal;
}
.pets-block {
  width: 93vw;
  max-width: 1200px;
  margin: auto;
  padding-top: 80px;
  min-height: 697px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 60px;
}

.pets-header {
  /* h3 */
  width: 400px;
  font-family: "georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  /* or 45px */
  text-align: center;
  letter-spacing: 0.06em;
  /* color-dark-l */
  color: #545454;
}

.pets-button {
  width: 261px;
  height: 52px;
  /* color-primary */
  font-weight: 100;
  background: #f1cdb3;
  border-radius: 100px;
  border: none;
  font-family: "georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  /* identical to box height, or 22px */
  letter-spacing: 0.06em;
  /* color-dark-3xl */
  color: #292929;
}

.pets-button:hover {
  background-color: #eaddd3;
}

.pets-block > .wrapper-block {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card-wrapper {
  width: 77vw;
  max-width: 990px;
  min-height: 430px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card {
  background: #fafafa;
  border-radius: 9px;
  width: 270px;
  height: 435px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  border-radius: 9px;
  overflow: hidden;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.card:hover {
  cursor: pointer;
  background-color: white;
  box-shadow: 1px 2px 4px #c9c4c4;
}

.card-image {
  border-radius: 9px 9px 0px 0px;
}

.card-text {
  /* pets-card-title */
  font-family: "georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  /* color-dark-l */
  color: #545454;
}

.card-button {
  width: 187px;
  height: 52px;
  background-color: transparent;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  font-family: "georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  /* identical to box height, or 22px */
  letter-spacing: 0.06em;
  /* color-dark-3xl */
  color: #292929;
}

.card:hover .card-button {
  background-color: #f1cdb3;
  color: #fafafa;
}

.arrow-right {
  /* background-image: url("../assets/images/button-arrow.svg");
  background-repeat: inherit;
  back */
  transform: rotate(180deg);
}

.mobile-buttons {
  display: none;
}

.arrow-right img {
  transform: translate(0px, -2px);
}

.arrow-left img {
  transform: translate(0px, -2px);
}

.arrow {
  width: 52px;
  height: 52px;
  /* color-primary */
  border: 2px solid #f1cdb3;
  border-radius: 100px;
}

@font-face {
  font-family: "arial";
  src: url("./assets/fonts/arial.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "georgia";
  src: url("./assets/fonts/georgia.ttf");
  font-weight: normal;
}
.footer-block {
  min-height: 310px;
  max-width: 1280px;
  width: 93vw;
  padding-top: 52px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-info {
  display: flex;
  gap: 150px;
  justify-content: space-between;
}

.footer-image {
  margin-left: 160px;
}
.footer-image img {
  height: 100%;
  width: 100%;
}

.footer-contacts {
  width: 283px;
  height: 234px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.footer-location {
  width: 302px;
  height: 234px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-text h4 {
  /* h4 */
  margin: 0%;
  font-family: "georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* identical to box height, or 23px */
  letter-spacing: 0.06em;
  /* color-primary */
  color: #f1cdb3;
}

.footer h3 {
  /* h3 */
  margin: 0px;
  font-family: "georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  /* or 45px */
  letter-spacing: 0.06em;
  /* color-light-xl */
  color: #ffffff;
}

@media (max-width: 767px) {
  .nav-bar {
    display: none;
  }
  .burger-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .header {
    margin: 0px 20px;
  }
}
@media (max-width: 1110px) {
  .pets-block {
    margin-top: 3px;
    gap: 33px;
    max-width: 579px !important;
  }
  .card:nth-last-child(1),
  .card:nth-last-child(2) {
    display: none;
  }
  .pets-navigation {
    margin-bottom: 79px !important;
  }
}
@media (max-width: 740px) {
  .pets {
    min-height: 791px !important;
  }
  .pets-block {
    padding-top: 0px !important;
    gap: 45px;
  }
  .pets-block .card {
    display: none;
  }
  .pets-block .card:nth-child(1),
  .pets-block .card:nth-child(2),
  .pets-block .card:nth-child(3) {
    display: flex;
  }
  .pets-header {
    font-size: 25px;
    line-height: 130%;
    width: 100%;
  }
  .wrapper-block {
    flex-direction: column !important;
  }
  .wrapper-block .arrow {
    display: none;
  }
  .pets-navigation {
    margin-bottom: 39px !important;
    gap: 10px !important;
  }
  .card-wrapper {
    justify-content: center;
  }
  .card-wrapper .card {
    gap: 16px;
  }
  .card-wrapper .card .card-text {
    margin-top: 9px;
  }
  .card-wrapper .card .card-button {
    margin-top: 16px;
  }
}
@media (max-width: 1245px) {
  .footer {
    min-height: 639px;
  }
  .footer-block {
    flex-direction: column;
    align-items: center;
    padding-top: 29px;
  }
  .footer-block .footer-info {
    gap: 57px;
  }
  .footer-block .footer-image {
    margin: 62px 0px 0px 0px;
  }
}
@media (max-width: 687px) {
  .footer h3 {
    font-size: 25px;
    line-height: 130%;
    text-align: center;
    max-width: 235px;
  }
  .footer-info {
    flex-direction: column;
    align-items: center;
    gap: 40px !important;
  }
  .footer-info h4 {
    font-size: 20px;
    line-height: 115%;
  }
  .footer-contacts {
    height: 209px;
    align-items: center;
  }
  .footer-location {
    height: 223px;
    align-items: center;
  }
  .footer-location div:nth-child(3) {
    width: 270px;
    align-self: flex-start;
  }
  .footer-image {
    width: 260px;
    height: 269px;
    margin-top: 40px !important;
  }
}
button {
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.logo h1,
.navigation li {
  color: #545454;
  transform: translate(8px, 0px);
}

.logo p,
#selected-page {
  color: #292929;
}

.logo {
  cursor: pointer;
  transform: translate(-7px, -2px);
}

.logo p {
  transform: translate(1px, -4px);
}

.burger-button span {
  width: 30px;
  height: 0px;
  border: black 2px solid;
}

.pets {
  background-color: #fafafa;
}

.pets-block {
  padding-top: 42px;
  max-width: inherit;
}

.card {
  gap: 27px;
  background-color: white;
}
.card img {
  background-color: white;
}

.pets-header {
  margin: 35px 0px 0px 0px;
}

.card-wrapper {
  flex-wrap: wrap;
  width: 100%;
  row-gap: 30px;
  max-width: inherit;
  max-width: 1190px;
}

.card-text {
  margin: 0px;
}

.pets-navigation {
  margin-bottom: 102px;
  display: flex;
  gap: 20px;
}

.arrow {
  background-color: inherit;
}

.arrow {
  font-family: "georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* identical to box height, or 23px */
  letter-spacing: 0.06em;
  /* color-dark-3xl */
  color: #292929;
}

.arrow {
  margin: 0;
}

.arrow:hover {
  background: #f1cdb3;
  color: white !important;
}

.arrow-back {
  border-color: #cdcdcd;
  color: #cdcdcd !important;
}

.arrow-main {
  background-color: #f1cdb3;
}

.footer {
  min-height: 350px;
  background: url(assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
  display: flex;
  flex-direction: column;
  align-items: center;
}/*# sourceMappingURL=style-pets.css.map */