.editor-css {
  border: 3px $main-text-color solid;
  width: 50%;
}

.editor-css__answer {
  border: none;
  background-color: inherit;
  color: grey;
}

.editor-css__submit-button {
  background-color: inherit;
}