@import "fonts";

.footer-block {
  min-height: 310px;
  max-width: 1280px;
  width: 93vw;
  padding-top: 52px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.footer-info {
  display: flex;
  gap: 150px;

  justify-content: space-between;
}
.footer-image {
  margin-left: 160px;
  img {
    height: 100%;
    width: 100%;
  }
}
.footer-contacts {
  width: 283px;
  height: 234px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.footer-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.footer-location {
  width: 302px;
  height: 234px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.footer-text h4 {
  /* h4 */
  margin: 0%;

  font-family: "georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* identical to box height, or 23px */

  letter-spacing: 0.06em;

  /* color-primary */

  color: #f1cdb3;
}
.footer h3 {
  /* h3 */
  margin: 0px;

  font-family: "georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  /* or 45px */

  letter-spacing: 0.06em;

  /* color-light-xl */

  color: #ffffff;
}
