@import "fonts";
@import "mixins";
.pets-block {
  width: 93vw;
  max-width: 1200px;
  margin: auto;
  padding-top: 80px;
  min-height: 697px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 60px;
}
.pets-header {
  /* h3 */
  width: 400px;
  font-family: "georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  /* or 45px */
  text-align: center;
  letter-spacing: 0.06em;

  /* color-dark-l */

  color: #545454;
}
.pets-button {
  width: 261px;
  height: 52px;
  /* color-primary */
  font-weight: 100;
  background: #f1cdb3;
  border-radius: 100px;
  border: none;

  font-family: "georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  /* identical to box height, or 22px */

  letter-spacing: 0.06em;

  /* color-dark-3xl */

  color: #292929;
}
.pets-button:hover {
  background-color: #eaddd3;
}
.pets-block > .wrapper-block {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.card-wrapper {
  width: 77vw;
  max-width: 990px;
  min-height: 430px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .card-stack {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.card {
  background: #fafafa;
  border-radius: 9px;
  width: 270px;
  height: 435px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  border-radius: 9px;
  overflow: hidden;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}
.card:hover {
  cursor: pointer;
  background-color: white;
  box-shadow: 1px 2px 4px #c9c4c4;
}
.card-image {
  border-radius: 9px 9px 0px 0px;
}
.card-text {
  /* pets-card-title */

  font-family: "georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  /* color-dark-l */

  color: #545454;
}
.card-button {
  width: 187px;
  height: 52px;
  background-color: transparent;

  border: 2px solid #f1cdb3;
  border-radius: 100px;

  font-family: "georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  /* identical to box height, or 22px */

  letter-spacing: 0.06em;

  /* color-dark-3xl */

  color: #292929;
}
.card:hover .card-button {
  background-color: #f1cdb3;
  color: #fafafa;
}
.arrow-right {
  /* background-image: url("../assets/images/button-arrow.svg");
  background-repeat: inherit;
  back */

  transform: rotate(180deg);
}
.mobile-buttons {
  display: none;
}

.arrow-right img {
  transform: translate(0px, -2px);
}
.arrow-left img {
  transform: translate(0px, -2px);
}
.arrow {
  width: 52px;
  height: 52px;
  /* color-primary */

  border: 2px solid #f1cdb3;
  border-radius: 100px;
}

%popup-header {
  font-family: "georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  /* or 45px */

  letter-spacing: 0.06em;

  color: #000000;
}

.popup {
  background: #fafafa;
  position: relative;
  z-index: 2;
  width: 80vw;
  max-width: 900px;
  min-height: 500px;
  display: flex;
  justify-content: space-between;
  .popup-block {
    margin: 50px 20px 89px 0px;
    max-width: 351px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .popup-header {
    @extend %popup-header;
  }
  .popup-subheader {
    @extend %popup-header;
    margin-top: 10px;
    font-size: 20px;
    line-height: 115%;
  }
  .popup-text {
    margin-top: 40px;
    @extend %popup-header;
    font-size: 13px;
    line-height: 110%;
  }
  img {
    height: 100%;
  }
  .popup-list {
    margin-top: 40px;
    list-style: none;
    li::before {
      content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
      color: #f1cdb3; /* Change the color */
      font-weight: bold; /* If you want it to be bold */
      display: inline-block; /* Needed to add space between the bullet and the text */
      width: 1em; /* Also needed for space (tweak if needed) */
      margin-left: -1em; /* Also needed for space (tweak if needed) */
    }
    li {
      @extend %popup-header;
      margin-top: 11px;
      font-weight: 800;
      font-size: 15px;
      line-height: 110%;
      span {
        font-weight: 200;
      }
    }
  }
}

.popup-bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(41, 41, 41, 0.6);
  @include flex-center();
  justify-content: center;
}

.popup-close {
  position: absolute;
  top: -53px;
  right: -30px;
  background-color: transparent;
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;

  span {
    width: 16px;
    height: 3px;
    position: absolute;
    top: 23px;
    left: 16px;
    display: inline-block;
    background-color: #292929;
  }
  span:first-child {
    transform: rotate(45deg);
  }
  span:last-child {
    transform: rotate(-45deg);
  }
}
@media (max-width: 1100px) {
  .popup {
    max-width: 630px;
    min-height: 350px;
    img {
      height: 350px;
    }
    .popup-block {
      margin: 10px 11px 38px 9px;
    }
    .popup-block .popup-text {
      margin-top: 20px;
    }
    .popup-block .popup-list {
      margin-top: 14px;
    }
    .popup-list li {
      margin-top: 6px;
    }
  }
}
@media (max-width: 655px) {
  .popup {
    img {
      display: none;
    }
    max-width: 240px;
    min-height: 341px;
    .popup-block {
      flex-direction: column;
    }
    .popup-list {
      margin-left: 14px;
    }
  }
}
