@import "fonts.css";
.about-block {
  margin: 80px 40px 0px;
  min-height: 408px;
  width: 93%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 9vw;
}
.about-image {
  margin-left: 13vw;
  width: 300px;
  height: 408px;
}
.about-image img {
  width: 100%;
  height: 100%;
}

.about-text {
  max-width: 430px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.about-text h3 {
  font-family: "georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  /* or 45px */

  display: flex;
  align-items: center;
  letter-spacing: 0.1em;

  /* color-dark-l */

  color: #545454;
}
.about-text p {
  font-family: "arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  /* or 24px */

  /* color-dark-xl */

  color: #4c4c4c;
}
