@import "fonts.css";
.header {
  height: 60px;
  margin: 0px 40px;
  padding: 30px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
}

.navigation li {
  list-style-type: none;
  color: #cdcdcd;

  font-family: "arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
}
.navigation li:nth-child(1) {
  color: #fafafa;
}
.logo h3 {
  color: #f1cdb3;
  margin-bottom: 10px;
  font-family: "georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  /* or 35px */

  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
}
.logo p {
  color: #fff;

  font-family: "arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
}
