@import 'normalize.css';
@import 'vars';
@import '/src/app/core/components/header/header';
@import '/src/app/features/playground/playground';
@import '/src/app/features/editor-wrapper/editor-wrapper';
@import '/src/app/features/editor/editor';
@import '/src/app/features/editor-css/editor-css';
@import '/src/app/core/components/side-bar/sidebar';

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $main-bg-color;
}

button:hover{
  cursor: pointer;
}