.winner-cell {
  display: flex;
  justify-content: space-between;

  &__id {
    font-size: 1.2rem;
  }

  &__data {
    width: 100px;
    font-size: 1.2rem;
  }

  .car {
    position: relative;

    .icon {
      transform: translateY(-15px);
    }
  }
}
