.popup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(41, 41, 41, 0.6);
}

.popup__content {
  margin: 0 auto;
  margin-top: 100px;
  height: 225px;
  width: 500px;
  background: $main-bg-color;
}

.popup__content-heading {
  padding-top: 15px;
  text-align: center;
}

.popup__content-message {
  margin: 30px 15px 0px;
}

.popup__content-button {
  display: block;
  margin: 15px auto 0px;
  width: 100px;
  height: 30px;
}

.hidden {
  display: none;
}