.editor-wrapper {
  height: 500px;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.editor-wrapper.wrong {
  animation: 0.2s ease 0s infinite running shake;
}

.editor-wrapper.correct {
  animation: 0.5s ease 0s 1 running shrink;
}

@keyframes shake {
  from {transform: translateX(0px);}
  25% {transform: translateX(5px);}
  75% {transform: translateX(-5px);}
  to {transform: translateX(0px);}
}

@keyframes shrink {
  from {width:600px;}
  50% {width: 0px;}
  to {width:600px;}
}