.editor-wrapper {
  height: 500px;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
}

.editor-wrapper.wrong {
  animation: 0.2s ease 0s infinite running shake;
}

@keyframes shake {
  from {transform: translateX(0px);}
  25% {transform: translateX(5px);}
  75% {transform: translateX(-5px);}
  to {transform: translateX(0px);}
}