@import 'styles/variables';
@import 'app/components/footer/footer';
@import 'app/components/header/header';
@import 'app/components/garage/garage';
@import 'app/components/car-cell/car-cell';
@import 'app/components/car/car';

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $bg;
}

.root {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
 min-height: 100vh;
}