@import 'styles/variables';
@import 'app/components/footer/footer';
@import 'app/components/header/header';
@import 'app/components/garage/garage';
@import 'app/components/car-cell/car-cell';
@import 'app/components/car/car';
@import 'app/components/garage-control/garage-control';
@import 'app/components/car-input/car-input';
@import 'app/components/winners-leader-board/winners-leader-board';
@import 'app/components/not-found/not-found';
@import 'app/components/winner-cell/winner-cell';

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $bg;
}

.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icon {
  transform: translateY(-9px);
  width: 50px; 
  height: 50px;
}