.car-cell {
  position: relative;

  height: 100px;
  margin: 5px;
  padding: 5px;

  color: $bg;

  background: $font-color;
  
  &__controls {
    display: flex;
    justify-content: space-between;
    width: 30px;
  }
  
  &__road {
    height: 2px;
    margin-top: 36px;
    background: $bg;
  }

  &__button {
    margin: 0 3px;
    padding: 0 7px;
  }

  &__car {
    position: absolute;
  }

  &__flag {
    position: absolute;
    right: 65px;
    bottom: 15px;

    width: 2px;
    height: 20px;

    background-color: black;
  }
}

