.editor-css {
  border: 3px $main-text-color solid;
  width: 50%;
}

.editor-css__answer {
  border: 1px grey solid;
  background-color: inherit;
  color: grey;
  margin: 10px;
}

.editor-css__button {
  background-color: inherit;
  display: inline-block;
}

.editor-css__answer:focus {
  color: $main-text-color;
}

.editor-css__decoration {
  color: grey;
  margin-left: 10px;
}
