@import './vars.scss';

.header {
  text-align: center;
}

.header__heading {
  font-size: 2rem;
  margin: 15px;
}
.header__data {
  font-size: 1.1rem;
}
.header__data_item {
  display: inline-block;
  margin: 0 10px;
}
.template {
  max-width: $square-side-easy * 11;
  border: solid black 2px;
  margin: 20px auto;
  padding: 5px;
  gap: 2px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.template.medium {
  max-width: 470px;
}

.template__item {
  box-sizing: border-box;
  width: $square-side-easy;
  height: $square-side-easy;
  border: rgb(75, 75, 75) solid 3px;

  border-radius: 5%;
  background-color: rgb(173, 171, 171);
  display: inline-block;
}

.template__item.medium {
  width: $square-side-medium;
  height: $square-side-medium;
}

.template__item.hard {
  width: $square-side-hard;
  height: $square-side-hard;
}

.bomb {
  background-image: url('../images/bomb.webp');
  background-size: cover;
}

.opened {
  visibility: hidden;
}
.flaged {
  background-image: url('../images/flag.webp');
  background-size: cover;
}
