.side-bar {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 105%;
  background-color: $extra-color;
}

.side-bar__heading {
  color: $main-bg-color;
  margin: 15px;
  font-size: 2rem;
}

.side-bar__settings {
  margin: 5px;
}

.side-bar__level-wrapper {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.level-wrapper__button {
  position: relative;
  width: 100%;
  background-color: $main-bg-color;
  border: none;
  color: $main-text-color;
  height: 40px;
}

.level-wrapper__button-status {
  position: absolute;
  margin: 4px;
  top: 0;
  right: 0;
  
  display: inline-block;
}

.level-wrapper__button.linted {
  border: $main-text-color solid 3px;
}

.side-bar__task {
  height: 100px;
  color: $main-bg-color;
}

.side-bar__task {
  margin: 10px;
  font-size: 1.2rem;
}
